name: Mirror BOM Radar Image

on:
  schedule:
    # Runs every 7 minutes
    - cron: '*/7 * * * *'
  workflow_dispatch: # Allows manual triggering of the workflow

permissions:
  contents: write

jobs:
  mirror:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v1

      - name: Install dependencies
        run: uv sync

      - name: Join animated radar
        run: |
          uv run bom_animated_radar_scraper.py

      - name: Check for changes
        id: git_status
        run: |
          git config user.name "GitHub Actions Bot"
          git config user.email "actions@github.com"
          git add *.gif
          git diff --staged --quiet || echo "changes_detected=true" >> $GITHUB_OUTPUT

      - name: Commit and push changes
        if: steps.git_status.outputs.changes_detected == 'true'
        run: |
          git commit -m "Update radar image (automated)"
          git push
